.app-button {
    margin: 10px auto;
}

@media (max-width: 760px) {
    .slide-streaming  {
        margin-top: 20px;
    }
}

.wrapper {
    margin-top: 20px;
}

.video-streaming, .slide-streaming {
    float: left;
}

.navbar {
    min-height: 4rem;
    background-color: #563d7c;
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,.05), inset 0 -1px 0 rgba(0,0,0,.1);
}

#app {
    margin-bottom: 40px;
}


footer {
    height: auto;
    bottom: 0;
    width: 100%;
    background: #111111;
    color: #eeeeee;
    position: relative;
    box-sizing: border-box;
    margin-top: 100px;
    display: block;
}

footer p {
    margin-bottom: 0;
    font-size: 0.9em;
}



